@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(210, 100%, 56%);
  --primary-color-light: hsl(210, 100%, 80%);
  --secondary-color: hsl(301, 100%, 42%);
  --secondary-color-light: hsl(301, 100%, 70%);
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  text-align: left;
  font-family: "Rubik", sans-serif;
}

h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 7px;
}

h3 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

p {
  color: gray;
  margin-bottom: 5px;
  line-height: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px var(--primary-color);
}

.nav-brand {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-name {
  font-style: italic;
  font-weight: 900;
  font-size: 40px;
}

.nav-menu {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-menu-item {
  transition: 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  outline: 2px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 0px 10px;
  color: white;
}

.nav-menu-item:hover {
  color: var(--secondary-color-light);
  outline: var(--secondary-color-light) solid 2px;
}

.main-container {
  margin: 0 auto;
  width: 300px;
}

.button {
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s ease-in;
  padding: 10px 15px;
  color: white;
  background-color: var(--primary-color);
  border: none;
}

.button:hover {
  color: var(--primary-color);
  background-color: white;
  outline: var(--primary-color) solid 2px;
}

@media screen and (min-width: 500px) {
  .main-container {
    width: 500px;
  }
}

@media screen and (min-width: 900px) {
  .main-container {
    width: 900px;
  }
}

/* Home */

/* Game */

.title-timer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timer-container {
  display: block;
  width: 100px;
  text-align: center;
  border: 2px solid maroon;
  border-radius: 20px;
}

.time {
  font-size: 30px;
  color: maroon;
  font-style: italic;
}

/* Image */

#image-container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px var(--primary-color);
  position: relative;
  margin-bottom: 20px;
}

img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  /* object-fit: fit; */
}

.hidden {
  display: none;
}
